.container-fluid {
    padding: 20px;
    background-color: #8fb0d6;
}

.table {
    border-collapse: collapse;
}

.header {
    margin: 20px;
}

#modal-registrasi-id, #modal-registrasi-id2 {
    font-weight: bold;
}

.error {
    color: red;
}

form {
    background-color: rgb(218, 214, 208);
    padding: 10px;
    border-radius: 10px;
}