.container {
    padding: 20px;
    background-color: #f0f7ff;
}

.table {
    border-collapse: collapse;
}

.header {
    margin: 20px;
}

#modal-registrasi-id {
    font-weight: bold;
}

.error {
    color: red;
}

form {
    background-color: rgb(218, 214, 208);
    padding: 10px;
    border-radius: 10px;
}