<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <title>Monitoring</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"  crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
        
    </head>
    <body>        
        <div class="container-fluid">
          <form th:action="@{/searchKendaraan}" method="post" th:object="${search}" class="myform">
            <div class="row">
                <div class="col-md-12"><h2>Aplikasi Data Kendaraan</h2></div>
            </div>
            <div class="header row">
                <div class="col-md-6"></div>              
                <div class="col-md-3" id="search"><input type="text" th:field="*{searchTerm}" class="form-control" id="search"/></div>
                <div class="col-md-3">
                    <button class="btn btn-primary" id="btn-search" type="submit"  name="action" value="search">Search</button>
                    <button class="btn btn-primary" id="btn-clear"  name="action" value="clear">X</button>
                    <button class="btn btn-primary" id="btn-add" th:href="@{/add}" name="action" value="add" type="submit">Add</button>
                </div>
            </div>

            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" class="col-md-1">No.</th>
                        <th scope="col" class="col-md-1">No Registrasi</th>
                        <th scope="col" class="col-md-2">Nama Pemilik</th>
                        <th scope="col" class="col-md-1">Merk Kendaraan</th>
                        <th scope="col" class="col-md-1">Tahun Pembuatan</th>
                        <th scope="col" class="col-md-1">Kapasitas</th>
                        <th scope="col" class="col-md-1">Warna</th>
                        <th scope="col" class="col-md-1">Bahan Bakar</th>
                        <th scope="col" class="col-md-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="kendaraan, rowStat : ${kendaraanList}">
                        <tr>
                            <td>[[${rowStat.index + 1}]]</td>
                            <td>[[${kendaraan.noRegistrasi}]]</td>
                            <td>[[${kendaraan.owner.firstname}]] [[${kendaraan.owner.lastname}]]</td>
                            <td>[[${kendaraan.merk}]]</td>
                            <td>[[${kendaraan.tahunPembuatan}]]</td>
                            <td>[[${kendaraan.kapasitasSelinder}]]</td>
                            <td>[[${kendaraan.warnaKendaraan}]]</td>
                            <td>[[${kendaraan.bahanBakar}]]</td>
                            <td>
                                <a th:href="@{/detail(noRegistrasi=${kendaraan.noRegistrasi})}">Detail</a>&nbsp;
                                <a th:href="@{/edit(noRegistrasi=${kendaraan.noRegistrasi})}">Edit</a>&nbsp;
                                <a href="#" id="delete" data-toggle="modal" th:attr="data-myattr=${kendaraan.noRegistrasi}" 
                                     data-target="#delete-modal">Delete</a> 
                            </td>

                        </tr>
                    </th:block>
                    
                </tbody>
            </table>
          </form>


          <div class="modal" tabindex="-1" id="delete-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                  </div>
                  <div class="modal-body">
                    <p>Anda yakin ingin menghapus data  <span id='modal-registrasi-id'></span> ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete">YES</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                  </div>
                </div>
              </div>
          </div>            
          

          <div class="modal" tabindex="-1" id="deleted-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                  </div>
                  <div class="modal-body">
                    <p>Data <span id='modal-registrasi-id2'></span> telah dihapus.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
          </div>            
            

        </div>
        
        <script type="text/javascript">
          var tempNoRegistrasi;

          
          $(document).ready(function() {
            $("#btn-add").on("click", function(e) {
              window.location.href="/add";
            });

            $("#btn-clear").on("click", function(e) {
              e.preventDefault;
              $('#search').val('');
            });

            $("#confirm-delete").on("click", function(e) {
              $.ajax({
                type: "GET",
                url: "/ahm/delete",
                data: {
                  noRegistrasi: tempNoRegistrasi
                },
                success: function( result ) {
                  $('#deleted-modal').modal('show');
                  setTimeout(function(){
                      window.location.reload();        
                  },3000);
                  
                }
              });                    
            });
                                  
            $("#delete-modal").on("show.bs.modal", function(e) {
              var obj = $(e.relatedTarget);
              var recipient = obj.data('myattr');
              var modal = $(this);
              modal.find('#modal-registrasi-id').text(recipient);
              $('#modal-registrasi-id2').text(recipient);
              tempNoRegistrasi = recipient;
            });
              

          });
        </script>

    </body>
</html>
